<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW38_AVPlayerViewController.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3EFBC7A2B03C6F600BB2D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EFBC932B03C70000BB2D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3EFBC9D2B03C70000BB2D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
